html{
	background-image: url(https://image.shutterstock.com/image-photo/photo-sea-turtle-galapagos-island-600w-1453313555.jpg);
    background-size: cover;
}
h1{
	font-family: 'Fascinate', cursive;
	       text-align: center;
	       text-decoration: underline;
}
p{	
	font-family: cursive;
	color:white ;
	text-align: center;
}
h2{
	font-family: 'Fascinate', cursive;
	text-align:center
	text-decoration: underline;
}
button{
	background-color:white ;
	font-size: large;
	text-transform: uppercase;
	border-color:white;
	font-family: 'Fascinate',cursive;
	display:block; margin: 0 auto;
}